<header class="navbar navbar-static-top bs-docs-nav" id="top">
  <div class="container">
    <div class="navbar-header" role="banner">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand"><img id="al-logo" src="{{site.baseurl}}/assets/images/gradient_logo_2_300px-height.png"></span>
      <a class="navbar-brand" href="{{site.baseurl}}/index.html">
        {{site.name}}
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        {% include path-fragments.html %}
        {% assign sortedPages = site.pages | sort:'topRank' %}
        {% for p in sortedPages %}
          {% if p.topRank %}
            {% comment %}
                `topPath` comes from `_includes/path-fragments.html`
            {% endcomment %}
            <li {% if p.url contains topPath %}class="active"{% endif %}>
              <a href="{{site.baseurl}}{{p.linkTo}}">{{p.linkName}}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% for p in site.headerLinks %}
        <li>
          <a class="gtm-about" href="{{p.url}}" target="_blank">{{p.linkName}}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>
