<div class="col-md-3">
  <div class="list-group">
    {% include path-fragments.html %}
    {% assign sortedByLocal = site.pages | sort:'localRank' %}
    {% assign sortedByMiddle = site.pages | sort:'middleRank' %}
    {% comment %}
        `topPath` and `middlePath` come from `_includes/path-fragments.html`
    {% endcomment %}
    {% for p in sortedByMiddle %}
      {% if p.url contains topPath and p.middleRank %}
        <a href={{site.baseurl}}{{p.url}} class="list-group-item {% if p.url == page.url %}active{% endif %} ">
          <strong>{{p.linkName}}</strong>
        </a>
        {% if p.url contains middlePath %}
          {% for q in sortedByLocal %}
            {% if q.url contains topPath and q.url contains middlePath and q.localRank and q != p %}
              <a href={{site.baseurl}}{{q.url}} class="list-group-item indented-list-group-item {% if q.url == page.url %}active{% endif %} ">
                {{q.linkName}}
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
