---
layout: default
---

{% include table-of-contents.html %}

{% comment %}
    `topPath` and `middlePath` come from `_includes/path-fragments.html`
{% endcomment %}
{% for p in site.pages %}
    {% if p.url contains topPath and p.topRank %}
        {% assign title = p.linkName %}
    {% elsif p.url contains middlePath %}
        {% if p.url contains ".html" %}
        {% else %}
            {% assign subtitle = p.linkName %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="col-md-9" role="main">
  <p> {{title}} / {{subtitle}}</p>
  {{ content }}
</div>
